@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: floralwhite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer-container {
  max-width: 1000px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  position: sticky;
  padding: 70px 0;
  top: 100%;
}
.footer-column {
  width: 25%;
  padding: 0 15px;
}
.footer-column h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-column h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-column ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-column ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-column ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-column .Search-Bar {
  position: relative;
  align-items: center;
}
.footer-column .Search-txt {
  border: none;
  background: white;
  outline: none;
  padding: 0;
  color: black;
  font-size: 16px;
  line-height: 50px;
}
.footer-column .Search-Btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #24262b;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Rights {
  color: white;
  margin: 0;
  position: relative;
  left: 34%;
  top: 20%;
}
/*responsive*/
@media (max-width: 767px) {
  .footer-column {
    width: 50%;
    margin-bottom: 30px;
  }
  @media (max-width: 574px) {
    .footer-column {
      width: 50%;
    }
  }
}
